about-time==4.2.1
absl-py==2.0.0
addict==2.4.0
aiohttp==3.9.1
aiohttp-retry==2.8.3
aiosignal==1.3.1
albumentations==1.3.1
alive-progress==3.1.5
amqp==5.2.0
annotated-types==0.6.0
anomalib==0.5.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asttokens==2.4.1
async-timeout==4.0.3
asyncssh==2.14.2
atpublic==4.0
attrs==23.1.0
autograd==1.6.2
av==11.0.0
bayesian-optimization==1.4.3
billiard==4.2.0
Brotli==1.1.0
cachetools==5.3.2
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cma==3.2.2
colorama==0.4.6
comm==0.2.1
configobj==5.0.8
contourpy==1.2.0
cryptography==41.0.7
cuda-python==12.3.0
cycler==0.12.1
datumaro==1.5.1rc4
decorator==5.1.1
decord==0.6.0
defusedxml==0.7.1
Deprecated==1.2.14
dictdiffer==0.9.0
dill==0.3.7
diskcache==5.6.3
distro==1.9.0
dnspython==2.4.2
docstring-parser==0.15
dpath==2.1.6
dulwich==0.21.7
dvc==3.36.1
dvc-data==3.3.0
dvc-http==2.32.0
dvc-objects==3.0.0
dvc-render==1.0.0
dvc-studio-client==0.18.0
dvc-task==0.3.0
einops==0.6.1
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.47.0
FrEIA==0.2
frozenlist==1.4.1
fsspec==2023.12.2
funcy==2.0
future==0.18.3
gevent==23.9.1
geventhttpclient==2.0.2
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.25.2
google-auth-oauthlib==1.2.0
grandalf==0.8
grapheme==0.6.0
greenlet==3.0.3
grpcio==1.60.0
gto==1.6.1
h5py==3.10.0
huggingface-hub==0.20.1
hydra-core==1.3.2
idna==3.6
imageio==2.33.1
imagesize==1.4.1
imgaug==0.4.0
importlib-resources==6.1.1
ipython==8.19.0
ipywidgets==8.1.1
iterative-telemetry==0.0.8
jedi==0.19.1
joblib==1.3.2
json-stream==2.3.2
json-stream-rs-tokenizer==0.4.25
jsonargparse==4.27.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jstyleson==0.0.2
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
kombu==5.3.4
kornia==0.6.9
lazy_loader==0.3
lightning-utilities==0.10.0
lxml==4.9.4
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mmaction2==0.24.1
mmcls==0.25.0
mmcv-full==1.7.0
mmdeploy==0.14.0
mmdet==2.28.1
mmengine==0.7.4
mmsegmentation==0.30.0
multidict==6.0.4
multiprocess==0.70.15
natsort==8.1.0
networkx==2.8
nibabel==5.2.0
ninja==1.10.2.4
nncf==2.6.0
numpy==1.23.4
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.13.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
openvino==2023.0.0
openvino-dev==2023.0.0
openvino-model-api==0.1.8
openvino-telemetry==2023.2.1
orjson==3.9.10
otx==1.4.4
ovmsclient==2023.1
packaging==23.2
pandas==2.0.3
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
Pillow==10.1.0
platformdirs==3.11.0
prettytable==3.9.0
prompt-toolkit==3.0.43
protobuf==3.20.2
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydot==1.4.2
pyemd==1.0.0
pygit2==1.13.3
Pygments==2.17.2
pygtrie==2.5.0
pymongo==4.5.0
pymoo==0.6.1.1
pyparsing==2.4.7
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
python-rapidjson==1.14
pytorch-lightning==1.9.5
pytorchcv==0.0.67
pytz==2023.3.post1
PyYAML==6.0.1
qudida==0.0.4
referencing==0.32.0
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rpds-py==0.15.2
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.10.1
scmrepo==2.0.2
semver==3.0.2
Shapely==1.8.0
shortuuid==1.0.11
shtab==1.6.5
six==1.16.0
smmap==5.0.1
sqltrie==0.11.0
stack-data==0.6.3
tabulate==0.9.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
terminaltables==3.1.10
texttable==1.7.0
threadpoolctl==3.2.0
tifffile==2023.12.9
timm==0.6.12
tokenizers==0.15.0
tomlkit==0.12.3
torch==1.13.1+cu117
torchmetrics==0.10.3
torchtext==0.14.1
torchvision==0.14.1+cu117
tqdm==4.66.1
traitlets==5.14.1
tritonclient==2.41.0
typer==0.9.0
typeshed-client==2.4.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
vine==5.1.0
voluptuous==0.14.1
wcwidth==0.2.12
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.16.0
yapf==0.32.0
yarl==1.9.4
zc.lockfile==3.0.post1
zope.event==5.0
zope.interface==6.1
